<div class="container-fluid"id="ex2">
  <div *ngIf="mode==1">
    <div class="row">
      <div class="col-md-4 offset-md-4"><h1 class="text-danger">New contact</h1></div>
    </div>
    <div class="col-md-4 offset-md-4">
      <form [formGroup]="angForm">
        <div class="form-group">
          <label class="control-label">First name</label>
          <input type="text" class="form-control" formControlName="prenom" placeholder="enter your first name" [(ngModel)]="contact.prenom"/>
        </div>
        <div *ngIf="angForm.controls['prenom'].invalid && (angForm.controls['prenom'].dirty || angForm.controls['prenom'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['prenom'].errors.required">
            First Name is required.
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">Last name</label>
          <input type="text" class="form-control" formControlName="nom" placeholder="enter your last name" [(ngModel)]="contact.nom"/>
        </div>
        <div *ngIf="angForm.controls['nom'].invalid && (angForm.controls['nom'].dirty || angForm.controls['nom'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['nom'].errors.required">
            Last Name is required.
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">Email</label>
          <input type="text" class="form-control" formControlName="email" placeholder="enter your email" [(ngModel)]="contact.email"/>
        </div>
        <div *ngIf="angForm.controls['email'].invalid && (angForm.controls['email'].dirty || angForm.controls['email'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['email'].errors.required">
            Email is required.
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">Date of birth</label>
          <input type="date" class="form-control" formControlName="dateNaissance" placeholder="enter your date of birth" [(ngModel)]="contact.dateNaissance"/>
        </div>
        <div *ngIf="angForm.controls['dateNaissance'].invalid && (angForm.controls['dateNaissance'].dirty || angForm.controls['dateNaissance'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['dateNaissance'].errors.required">
            Date of birth is required.
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">Tel</label>
          <input type="text" class="form-control" formControlName="tel" placeholder="please respect this form 775977255" [(ngModel)]="contact.tel"/>
        </div>
        <div *ngIf="angForm.controls['tel'].invalid && (angForm.controls['tel'].dirty || angForm.controls['tel'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['tel'].errors.required">
            Phone is required.
          </div>
        </div>
        <button class="btn btn-danger col-md-4 offset-md-4" (click)="saveContact()">save contact</button>
      </form>
    </div>
  </div>
  <div class="panel" *ngIf="mode==2">
    <div class="row">
      <div class="col-md-4 offset-md-4"><h1 class="text-danger">Confirmation</h1></div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="form-group">
          <label class="control-label mr-3">First name: </label>
          <label class="control-label">{{contact.prenom}}</label>
        </div>
        <div class="form-group">
          <label class="control-label mr-3">Last name: </label>
          <label class="control-label">{{contact.nom}}</label>
        </div>
        <div class="form-group">
          <label class="control-label mr-3">Email: </label>
          <label class="control-label">{{contact.email}}</label>
        </div>
        <div class="form-group">
          <label class="control-label mr-3">Date of birth</label>
          <label class="control-label">{{contact.dateNaissance}}</label>
        </div>
        <div class="form-group">
          <label class="control-label mr-3">Tel : </label>
          <label class="control-label">{{contact.tel}}</label>
        </div>
        <a routerLink="/contacts"><button class="btn btn-success" >Contacts List</button></a>
      </div>
    </div>
  </div>
</div>
